*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-size: 62.5%;
  overflow-y: hidden;
}


.h1,
.p1,
.p2,
.s1,
.s2 {
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}
.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.content{
     width: 100%;
    height: auto;
    overflow: hidden;
   
}
.div1{
    width: 100%;
    height: 100vh;
    background-image: url("./images/66a25fbf2aca7cf80f19e4d3_Ebene-541-edit.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    


}
.div1_1,.div1_1_2{
    width: 45%;
    height: 100vh;
}

.div1_1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
    
}
.h1{
    width: 100%;
    height: 11rem;
    color: aliceblue;
    font-size: 1.4rem;
    word-spacing: .2rem;
    letter-spacing: .1rem;
}
.s1{
    display: inline-block;
    color: orangered;

}
.s2{
    display: inline-block;
    color:aliceblue;
}
.p{
    width: 35%;
    height: 3rem;
    color: aliceblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:.7rem;
    
}
.p1{
    border-right: 1px solid white;
     padding: .2rem;
}
.p2{
     border-left: 1px solid white;
     padding: .2rem;
}

.btn1{
    width: 35%;
    height: 3.2rem;
    border: 1px solid rgba(207, 58, 4, 0.847);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    font-size: .9rem;
    padding: 1rem;
    border-radius: 1rem;

}
.btn1:hover{
    background-color: rgb(231, 66, 6);
    cursor: pointer;
    transition: 1s ease;
}
.div1_1_2{
    display: flex;
    justify-content: end;
    font-size: 1.3rem;
    color: orangered;

}
#icon2{
    margin-top: 1rem;
    border: 1px solid orangered ;
    width: 8%;
    height: 8%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
  position: relative;
  width: 100%;
  height: 200vh; 
  background-color: transparent;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("./images/images.jpeg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  perspective: 200px;
}

.front_image {
  width: 100%;
  height: 100vh;
  background-image: url("./images/fture.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  transform-style:preserve-3d;
}

.bpart{
    width: 65%;
    height: 80vh;
    background-color: rgba(236, 227, 227, 0.274);
    backdrop-filter: blur(2px); 
  
   box-shadow: 10px 10px 30px rgba(133, 5, 5, 0.3);
  
  color: black;
  
}
.bpart1,.bpart2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    align-items: center;
  
}

.b1,.b2,.b3,.b4{
    width: 50%;
    height: 100%;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

}
.h2{
    color: aliceblue;
    font-size: 2rem;
}

.div3 {
  width: 100%;
  height: 120vh;
  background-color: black;
  position: relative;
   
}

.div3_1{
width: 100%;
height: 5rem;
display: flex;
justify-content: start;
align-items: start;
padding: 5rem;
}
.div3_1_1{
display: flex;
justify-content: center;
width: 20%;
height: 3rem;
gap: .5rem;
font-size: 1.3rem;
color: aliceblue;
}

.div3_1_2{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.div3_2{
width: 65%;
height: 95%;
display: flex;
justify-content: space-around;
align-items: center;

}
.a3{
    width: 35%;
    height:90%;
    perspective: 1000px; 
  background-color:black;
  border-radius: 50%;
  overflow: hidden;
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: 2s ease;
  transform-style: preserve-3d;
  position: relative;
   border-radius: 50%;
}

.a3:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-back {
  transform: rotateY(180deg);
}
.b3_1{
    width: 60%;
    height: 80%;
 
    color: aliceblue;
    font-size: 1rem;
    font-weight: lighter;
}
.s3{
    color: rgb(201, 55, 2);
    display: inline-block;
}

.div4 {
  width: 100%;
  height: 100vh;
  background-color: orangered;
  position: relative;
  
}
#video1{
    width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
}

.div5 {
  width: 100%;
  height: 130vh;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
gap: 4rem;
overflow: hidden;
  
}
.a5{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
  color: aliceblue;
    font-size: 1rem;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;

}
.approach{
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: start;
    gap: .5rem;
    align-items: center;
    font-size: 1rem;
}
#icon4{
    width: 4%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid orangered;
    color: orangered;
}

.a5_part2{
    width: 80%;
    height: 10rem;
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.a5_part2_end{
    width:45%;
    height: 100%;
   
    padding: .5rem;
    
}
.a5_part2_end:hover{
    box-shadow: 10px 10px 10px rgb(185, 52, 4);
    transition: .2s ease;
    cursor: pointer;
}



.h4{
    font-size: 1.4rem;
    color: aliceblue;
}

.a5_part3{
    width: 100%;
    height: 55%;
  display: flex;
    justify-content: center;
    align-items: center;
}
.a5_1,.a5_2,.a5_3,.a5_4{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 22%;
    height: 100%;
    border-right: .1px solid white;
    border-left: .1px solid white;
    border-bottom: 0;
    border-top: 0;
    flex-direction: column;
    gap: 1rem;
    padding: .4rem;
    align-self: auto;
}
.a5_1:hover,
.a5_2:hover,
.a5_3:hover,
.a5_4:hover {
  cursor: pointer;
  box-shadow: 0 -8px 18px rgb(154, 44, 4);
}


.h6{
    font-size: 4rem;
    color: aliceblue;
}
.h3{
    font-size: 1.3rem;
    color: aliceblue;
}
.p4{
    color: rgb(167, 161, 161);
    font-size: 1rem;
}
.p5{
    color: orangered;
    font-size: 1.2rem;
    
}

.div6 {
  width: 100%;
  height: auto; 
  overflow: hidden;
  position: relative;
  perspective: 400px;
}

.zoom {
  background-color: orangered;
  color: aliceblue;
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 2;
  transform-style: preserve-3d;
  position: absolute;
  pointer-events: none;
}

.z1 {
  font-size: 15rem;
  font-weight: bolder;
  letter-spacing: 1.5rem;
  
}

.z2 {
  position: relative;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  color: black;
  font-size: 2rem;
  z-index: 1;
  position:sticky;
 
}
 
    .section {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;
      background-color: black;
    }

    .section:hover {
      box-shadow: 0 0 60px rgba(0, 255, 255, 0.4);
      background-color: #111;
    }

    .text {
      font-size: 3rem;
      font-weight: bold;
      color: #00ffff;
      opacity: 0;
      transform: translateY(100px);
      transition: 0.3s ease;
      text-align: center;
      text-shadow: 0 0 20px rgba(0,255,255,0.6);
    }